# dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# build artifacts
/frontend/.next/
/backend/dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# prisma
/backend/prisma/dev.db
/backend/prisma/test.db

# misc
.DS_Store
